/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* utilities styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* .navbar-toggler-icon{
    background-image: url(icons/menu-2.svg);
} */

.btn-light{
    background-color: #e9eff5;
}
.fa-circle-check{
    color: #435ec2;
    background-color: #e4effa;
    border-radius: 50%;
}
.fa-circle-check-reverse{
    background-color: #ffffff42;
    color: #ffffff;
    border-radius: 50%;
}
.card-number-3{
    transform: translate(0px, -65px);
}
.translate-middle-custom{
    transform: translate(-120%,-50%)
}